#map{
    height:500px;
    width: 600px;
    margin:20px;

}
h1{
    font-size: 35px;
    margin: 10px; 
    font-weight: 700;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 40px;
    padding: 40px 40px 14px 40px;
    
}
h2{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    text-align: left;
    padding: 10px 40px 40px 40px;
    line-height: 1.6;
}
.address h3{
    font-size: 27px;
    padding-bottom: 30px;
}
.address h4{
    font-size: 25px;
    padding-bottom: 30px;
    font-weight: 500;
}
.address{
    display: flex;
    justify-content: space-evenly;
}
.address-info{
    display: flex;
    flex-direction: column;
    margin: 15px;
    
}
@media (max-width: 1024px){
    .address{
        flex-direction: column;
    }
    #map{
        width: 90%;
    }
    .address-info{
        align-items: center;
    }
}